<div>
  <div>
    <h1>
      List of all todos
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new todo
    </h2>

    <form action="/insert_todo" method="post">
      <div>
        <label for="next_up_box">
          Next up
        </label>

        <input type="text" id="next_up_box" name="query_next_up">
      </div>

      <div>
        <label for="in_progress_box">
          In progress
        </label>

        <input type="text" id="in_progress_box" name="query_in_progress">
      </div>

      <div>
        <label for="done_box">
          Done
        </label>

        <input type="text" id="done_box" name="query_done">
      </div>

      <button>
        Create todo
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Next up
        </th>

        <th>
          In progress
        </th>

        <th>
          Done
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_todos.each do |a_todo| %>
      <tr>
        <td>
          <%= a_todo.id %>
        </td>

        <td>
          <%= a_todo.next_up %>
        </td>

        <td>
          <%= a_todo.in_progress %>
        </td>

        <td>
          <%= a_todo.done %>
        </td>

        <td>
          <%= time_ago_in_words(a_todo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_todo.updated_at) %> ago
        </td>

        <td>
          <a href="/todos/<%= a_todo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
